aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
botocore==1.20.111
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
click-plugins==1.1.1
colorama==0.4.3
deep-security-api==20.0.463
docutils==0.15.2
geoip2==4.1.0
idna==3.3
jmespath==0.10.0
maxminddb==2.0.3
multidict==5.1.0
protobuf==3.19.4
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
python-dateutil==2.8.2
python-geoip-geolite2==2015.303
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.4.2
shodan==1.25.0
six==1.16.0
slack==0.0.2
slackclient==2.9.3
spark-parser==1.8.9
typing-extensions==3.7.4.3
# Editable install with no version control (uncompyle6==3.7.4)
-e /usr/local/lib/python3.9/site-packages
unpyclib==0.8.1
urllib3==1.26.7
websocket-client==0.54.0
xdis==5.0.13
XlsxWriter==1.3.7
yarl==1.6.3
